.headeri
{
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
}

#vidtitle
{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    margin-left: 3%;
    margin-top: 17px;
}

#chtitle
{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    margin-left: 3%;  
}

hr
{
    border: 0.5px solid rgb(214, 214, 214);
    width: 90%;
    position: relative;
    left: -15px;
}